@model StampOnline.ViewModels.OStampVM

@{
    ViewBag.Title = "Step 2";
    ViewBag.Progress = 2; 
    Layout = "~/Views/Shared/_Layout.cshtml";

    var imgsrc = string.Empty;
    if(Model.Graphic != null)
    {    
        imgsrc = Model.Graphic.Url == string.Empty ? "" : "/Graphics/" + Model.Graphic.Url;
    }
}

<div class="subHeader">
    @ViewBag.Title : <progress value="@ViewBag.Progress" max="4"></progress>
    <h2>Select Stamp Details</h2>
</div>
<div style="max-width:136px">
    <img id="graphicOrigin" src="@imgsrc" draggable="true" ondragstart="StampOnline.Drag(event)"/>
</div>
<span id="dragMe" style="display:none">Drag me to preview!</span>
@Html.Partial("Preview")
@using (Html.BeginForm("Continue", "StepTwo", FormMethod.Post))
{
    <div id="Lines">
        <table class="stampLinesTable center" border="0">
            <tr>
                <th>Line Nr</th>
                <th>Text</th>
                <th>Font</th>
                <th>Font Size</th>
                <th style="font-weight: bolder">B</th>
                <th style="font-style: italic">I</th>
                <th style="text-decoration: underline">U</th>
            </tr>
            @Html.DisplayFor(model => model.StampLines)
        </table>
    </div>
    <div id="AdditionalConfigurations">
        <div id="optionsFirstRow">
            <fieldset id="HorAlign">
                <legend>Horizontal Alignment:</legend>
                @Html.DisplayFor(model => model.AlignmentISI, "HAlignSelectItem")                            
            </fieldset>
            <fieldset id="VerAlign">
                <legend>Vertical Alignment:</legend>
                 @Html.DisplayFor(model => model.VAlignISI, "VAlignSelectItem")   
            </fieldset>
        </div>
        <div id="optionsSecondRow">
            <fieldset id="Borders">
                <legend>Border:</legend>
                @Html.DisplayFor(model => model.BorderISI, "BorderSelectItem") 
            </fieldset>
            <fieldset id="PadColours">
                <legend>Pad Colour:</legend>
                @Html.DisplayFor(model => model.PadColourISI, "PadColourSelectItem") 
            </fieldset>
        </div>
    </div>
    <p>
     <a id="generatePdf" href="/StepTwo/GeneratePdf">Generate PDF</a>
    </p>
    <p>
     <a id="addRemoveGraphic" href="/StepTwo/DisplayGraphicFrame" onclick="return StampOnline.ShowModal('/StepTwo/DisplayGraphicFrame')">Add/Remove Graphic</a>
     @Html.HiddenFor(model=>model.Graphic.Position)
    </p>
    <input type="submit" value="Continue" />
}

    @Scripts.Render("~/Content/js")